
<%= form_with model: @person do |f| %>
  <div class="field">
    <%= f.label :name, 'Nome'  %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birth, 'Data de Nascimento'  %>
    <%= f.date_field :birth %>
  </div>
  <fieldset>
    <legend>Nacionalidades</legend>
    <%= f.fields_for :nationalities do |ff| %>
      <div class="field">
        <%= ff.label :country, 'País'  %>
        <%= ff.hidden_field :person_id, value: @person.id %>
        <%= ff.select :country_id, options_for_select(
          @countries.map { |c| [c.name, c.id]}
        ) %>
      </div>
      <div class="field">
        <%= ff.label :how, 'Tipo'  %>
        <%= ff.text_field :how %>
      </div>
    <% end %>
  </fieldset>
  <div class="action"><%= f.submit "Salvar pessoa" %></div>
<% end %>
