<div id="<%= dom_id dog %>" class="card dog">
  <p>
    <strong>Name:</strong>
    <%= dog.name %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= dog.race %>
    | <strong><%= dog.sex %></strong>
  </p>

  <p>
    <strong>☆</strong> <%= dog.birth %> 
  </p>

</div>
