<div id="<%= dom_id dog %>">

  <p>
    <strong>Race:</strong>
    <%= dog.race %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= dog.sex %>
  </p>

  <p>
    <strong>Birth:</strong>
    <%= dog.birth %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= dog.name %>
  </p>

</div>
