<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "problema") %> impediram salvar a tarefa:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :responsible_id %>
    <%= form.collection_select(:responsible_id, @responsibles, :id, :name, { prompt: "Selecione o responsável", include_blank: true })
    %>
  </div>

  <div class="field">
    <%= form.label :task_id, 'Pertence a' %>
    <%= form.collection_select(:task_id, @tasks, :id, :name, { include_blank: true }) %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, rows: 10 %>
  </div>

  <div>
    <%= form.check_box :is_completed %>
    <%= form.label :is_completed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
