<div id="<%= dom_id task %>">
  <h1><%= task.name %></h1>

  <% if task.responsible_id %>
  <p>
    <strong>Responsável:</strong>
    <%= task.responsible.name %>
  </p>
  <% end %>

  <% if task.task_id %>
  <p>
    <strong>Projeto:</strong>
    <%= task.task.name %>
  </p>
  <% end %>

  <% if task.description.present? %>
  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>
  <% end %>

  <% if task.due_date %>
  <p>
    <strong>Vencimento:</strong>
    <%= l task.due_date %><% if task.due_time %>, <%= l task.due_time, format: :time_only %><% end %>
  </p>
  <% end %>

  <p>
    <strong>Status:</strong>
    <%= Task::STATUSES[task.status] %>
  </p>

  <% if task.recurring? %>
  <p>
    <strong>Repetição:</strong>
    <%= Task::RECURRENCE_OPTIONS[task.recurrence_rule] %>
  </p>
  <% end %>

</div>
