<div id="<%= dom_id task %>">
  <h1><%= task.name %></h1>

  <% if task.responsible_id %>
  <p>
    <strong>Responsável:</strong>
    <%= task.responsible.name %>
  </p>
  <% end %>

  <% if task.task_id %>
  <p>
    <strong>Projeto:</strong>
    <%= task.task.name %>
  </p>
  <% end %>

  <% if task.description.present? %>
  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>
  <% end %>

</div>
