<h1>Login</h1>

<%= form_with model: @session do |f|%>
  <div class="field">
    <%= f.label :email_address, "E-mail" %>
    <%= f.text_field :email_address %>
  </div>
  <div class="field">
    <%= f.label :password, "Senha" %>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Entrar" %>
  </div>
<% end %>
<%= link_to 'Criar nova conta', new_user_path %>
