<%= render @medication %>

<div>
  <%= link_to "Edit this medication", edit_medication_path(@medication) %> |
  <%= link_to "Back to medications", medications_path %>

  <%= button_to "Destroy this medication", @medication, method: :delete %>
</div>

<fieldset>
  <legend>Produtos</legend>
  <% @products.each do |medication_product| %>
    <%= render "medication_products/form", medication_product: %>
  <% end %>
</fieldset>
