<%= form_with model: purchase do |f| %>
  <% if purchase.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
        <% purchase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="field">
        <%= f.label :purchase_at %>
        <%= f.date_field :purchase_at %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Produto</legend>
    <div class="field">
      <div>
      <%= f.label :product_id, 'Produto' %>
        <%= f.select :product_id,
          content_tag(:option, '-- nenhum --', value: '') +
          options_from_collection_for_select(@products, 'id', 'name'),
          selected: @purchase&.product&.id
        %>
      <details>
        <summary>Novo Produto</summary>
        <%= f.fields_for :product do |ff| %>

          <div>
            <%= ff.label :name %>
            <%= ff.text_field :name %>
          </div>

          <div>
            <%= ff.label :description %>
            <%= ff.text_area :description %>
          </div>

          <div>
            <%= ff.label :brand %>
            <%= ff.text_field :brand %>
          </div>

          <div>
            <%= ff.label :kind %>
            <%= ff.text_field :kind %>
          </div>

        <% end %>
      </details>
    </div>

    <div class="field">
      <%= f.label :price, 'Preço' %>
      <%= f.number_field :price, step: 0.01 %>
    </div>

    <div class="field">
      <%= f.label :quantity, 'Quantidade' %>
      <%= f.number_field :quantity, step: 1 %>
    </div>
  </fieldset>


  <fieldset>
    <legend>Pagamentos</legend>
    <p>Defina o número de parcelas ou defina os valores dos pagamentos
    individualmente.</p>
    <turbo-frame id="pagamentos">
      <div class="field">
        <%= f.label :installments, 'Parcelas' %>
        <%= f.number_field :qty_installments, min: 1, value: @purchase.qty_installments %>
        <%= f.button 'definir parcelas',
          formmethod: 'post',
          formaction: set_installments_purchases_path(id: f.object),
          data: { turbo_frame: "pagamentos" }
        %>

      </div>
      <details>
        <summary>Pagamentos</summary>
        <% month = nil %>
        <%= f.fields_for :payments do |ff| %>
          <% month = installment_month month %>

          <%= ff.hidden_field :purchase_id, value: @purchase.id %>

          <div class="entity payment">
            <div class="field">
              <%= ff.label :due_amount, 'Valor' %>
              <%= ff.number_field :due_amount, step: 0.01, value: installment_value %>
            </div>
            <div class="field">
              <%= ff.label :due_at, 'Data' %>
              <%= ff.date_field :due_at, value: month.to_fs(:db) %>
            </div>
          </div>

        <% end %>
      </details>
    </turbo-frame>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
