<%= form_with model: purchase do |f| %>
  <% if purchase.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
        <% purchase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="field">
        <%= f.label :purchase_at, 'Data da compra' %>
        <%= f.date_field :purchase_at %>
    </div>
  </fieldset>

  <fieldset data-controller="form purchase-form">
    <legend>Produto</legend>
    <div class="field">
      <%= f.label :product_id, 'Produto' %>
      <%= f.select :product_id,
          content_tag(:option, '-- nenhum --', value: '') +
          options_from_collection_for_select(
            @products, 'id', 'name',
            @purchase.product_id
          )
        %>
    </div>
      <% if @purchase.new_record? %>
        <details>
          <summary>Novo Produto</summary>
          <%= f.fields_for :product do |ff| %>

            <div>
              <%= ff.label :name %>
              <%= ff.text_field :name %>
            </div>

            <div>
              <%= ff.label :description %>
              <%= ff.text_area :description %>
            </div>

            <div>
              </div>
              <%= ff.text_field :brand %>
            </div>

            <div>
              <%= ff.label :kind %>
              <%= ff.text_field :kind %>
            </div>

          <% end %>
        </details>
      <% end %>

      <div class="field">
        <%= f.label :price, 'Preço' %>
        <%= f.number_field :price, step: 0.01, 'data-action' => 'purchase-form#onPriceChange', 'data-purchase-form-target' => 'price' %>
      </div>

      <details>
        <summary>Parcelamento</summary>
        <div class="field">
          <%= f.label :card, 'Cartão' %>
          <%= f.collection_select :card_id, Card.all, :id, :display_name, include_blank: true %>
        </div>

        <div class="field">
          <%= f.label :installments, 'Parcelas' %>
          <%= f.number_field :number_of_installments, min: 1, value: @purchase.number_of_installments, 'data-purchase-form-target' => 'installments', 'data-action' => 'purchase-form#onPriceChange' %>
        </div>

        <div class="field">
          <%= f.label :installment_price, 'Parcela' %>
          <%= f.number_field :installment_price, step: 0.01, 'data-action' => 'change->purchase-form#onInstallmentPriceChange', 'data-purchase-form-target' => 'installmentPrice' %>
        </div>
      </details>

      <details>
        <summary>Detalhes</summary>
        <div class="field">
          <%= f.label :quantity, 'Quantidade' %>
          <%= f.number_field :quantity, step: 1 %>
        </div>

        <div class="field">
          <%= f.label :paid, 'Pago' %>
          <%= f.check_box :paid %>
        </div>
      </details>

  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
