<%= form_with model: purchase do |f| %>
  <% if purchase.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
        <% purchase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price, 'Preço' %>
    <%= f.number_field :price, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.select :product_id, options_for_select(
      @products.map { |c| [c.name, c.id]}
    ) %>
  </div>

  <div class="field">
    <%= f.label :qty_installments, 'Parcelas' %>
    <%= f.number_field :qty_installments %>
  </div>

  <fieldset>


      <div class="field">
      </div>
  </fieldset>


  <fieldset>
    <legend>Pagamentos</legend>
    <p>Defina o número de parcelas ou defina os valores dos pagamentos
    individualmente.</p>
    <turbo-frame id="pagamentos">
      <div class="field">
        <%= f.label :installments, 'Parcelas' %>
        <%= f.number_field :qty_installments, min: 1, value: installments %>
        <%= f.button 'definir parcelas',
          formmethod: 'post',
          formaction: set_installments_purchases_path(id: f.object),
          data: { turbo_frame: "pagamentos" }
        %>

      </div>
      <details>
        <summary>Pagamentos</summary>
        <% month = nil %>
        <%= f.fields_for :payments do |ff| %>
          <% month = installment_month month %>

          <%= ff.hidden_field :purchase_id, value: @purchase.id %>

          <div class="entity payment">
            <div class="field">
              <%= ff.label :value, 'Valor' %>
              <%= ff.number_field :value, step: 0.01, value: installment_value %>
            </div>
            <div class="field">
              <%= ff.label :date, 'Data' %>
              <%= ff.date_field :date, value: month.to_fs(:db) %>
            </div>
          </div>

        <% end %>
      </details>
    </turbo-frame>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
