<div id="<%= dom_id purchase %>">
  <p>
    <strong>Price:</strong>
    <%= purchase.price %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= purchase.product_id %>
  </p>

  <p>
    <strong>Downpayment:</strong>
    <%= purchase.downpayment_id %>
  </p>

  <p>
    <strong>Installments:</strong>
    <%= purchase.installments_id %>
  </p>

</div>
