<h1>
  <%= purchase.product.name %>
</h1>
<div>
  <dl>
    <dt>Preço:</dt>
    <dd><%= purchase.price %></dd>
  </dl>
  <%= form_for purchase, url: { action: 'payments_bulk_update' }, method: :post do %>
    <fieldset>
      <legend>Parcelas</legend>
      <%= render 'simple_table', {
        keys: %w(Preço Parcela Pago Vencimento Pagamento ✔),
        rows: purchase.payments.map { |p| [
          p.purchase.price,
          p.due_amount,
          p.paid_amount,
          p.due_at&.strftime("%d/%m/%Y"),
          p.paid_at&.strftime("%d/%m/%Y"),
          check_box_tag("payment_ids[]", p.id, p.paid_at.present?, id: "payment_#{p.id}")
        ]}
      }%>

    <div class="actions">
      <%= submit_tag "Atualizar pagamentos" %>
    </div>
    </fieldset>
  <% end %>
</div>
