<h1>
  Compra: <%= purchase.product.name %>
</h1>
<div>
  <dl>
    <% if purchase.card.present? %>
      <dt>Compra feita no Cartão:</dt>
      <dd><%= purchase.card&.name || '' %></dd>
    <% end %>
    <dt>Preço total:</dt>
    <dd><%= brl(purchase.price) %></dd>
    <dt>Data:</dt>
    <dd><%= br_date(purchase.purchase_at) %></dd>
  </dl>

  <%= form_for purchase, url: { action: 'payments_bulk_update' }, method: :post do %>
    <fieldset>
      <legend>Parcelas</legend>
      <p>Compra parcelada em <%= purchase.payments.count %> vezes</p>
      <%= render 'simple_table', {
        keys: %w(Parcela Valor Vencimento Pagamento ✔),
        rows: purchase.payments.each_with_index.map { |p, i| [
          link_to("Parcela #{i + 1 }", p),
          p.due_amount,
          br_date(p.due_at),
          br_date(p.paid_at),
          check_box_tag("payment_ids[]", p.id, p.paid_at.present?, id: "payment_#{p.id}")
        ]}
      }%>

    <div class="actions">
      <%= submit_tag "Atualizar pagamentos" %>
    </div>
    </fieldset>
  <% end %>
</div>
