<%= form_with model: greeting_card do |f| %>
  <% if greeting_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(greeting_card.errors.count, "erro") %> impediu este cartão de ser salvo:</h2>
      <ul>
        <% greeting_card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :card_type, "Tipo de Cartão *" %>
    <%= f.select :card_type, GreetingCard.card_types.keys.map { |t| [t.humanize, t] }, prompt: "Selecione o tipo" %>
  </div>

  <div class="field">
    <%= f.label :title, "Título *" %>
    <%= f.text_field :title, required: true, placeholder: "e.g., Parabéns Maria!" %>
  </div>

  <div class="field">
    <%= f.label :person_id, "Destinatário" %>
    <div class="person-select-with-new">
      <%= f.collection_select :person_id, Person.order(:name), :id, :name, { include_blank: "Selecione uma pessoa" } %>
      <span class="divider">ou</span>
      <%= text_field_tag :new_person_name, "", placeholder: "Criar nova pessoa" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :occasion_date, "Data da Ocasião" %>
    <%= f.date_field :occasion_date %>
  </div>

  <div class="field">
    <%= f.label :message, "Mensagem" %>
    <%= f.text_area :message, rows: 5, placeholder: "Escreva sua mensagem..." %>
  </div>

  <div class="field">
    <%= f.label :letter_background_id, "Fundo" %>
    <%= f.hidden_field :letter_background_id %>
    <div class="letter-background-picker-grid" data-letter-background-picker-target="grid"></div>
    <div class="letter-background-picker-preview" data-letter-background-picker-target="preview"></div>
    <%= link_to 'Gerenciar fundos', letter_backgrounds_path, target: '_blank' %>
  </div>

  <div class="field" data-controller="font-picker"
       data-font-picker-url="<%= fonts_path(format: :json) %>"
       data-font-picker-selected-id="<%= greeting_card.font_family %>">
    <%= f.label :font_family, "Fonte" %>
    <%= f.hidden_field :font_family, data: { font_picker_target: "hidden" } %>
    <div class="font-picker-grid" data-font-picker-target="grid"></div>
    <%= link_to 'Gerenciar fontes', fonts_path, target: '_blank' %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>