<%= form_with(model: payment) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :due_amount, style: "display: block" %>
    <%= form.number_field :due_amount %>
  </div>

  <div>
    <%= form.label :paid_amount, style: "display: block" %>
    <%= form.number_field :paid_amount %>
  </div>


  <div>
    <%= form.label :paid_at, style: "display: block" %>
    <%= form.date_field :paid_at %>
  </div>

  <div>
    <%= form.label :purchase_id, style: "display: block" %>
    <%= form.text_field :purchase_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
