<div id="<%= dom_id payment %>">
  <p>
    <strong>Valor Devido:</strong>
    <%= payment.due_amount %>
  </p>
  <p>
    <strong>Due at:</strong>
    <%= payment.due_at %>
  </p>


  <% if payment.paid_at.present? %>
    <fieldset>
      <legend>Pago</legend>
      <p>
      <strong>Pago em:</strong>
      <%= payment.due_at %>
      </p>
      <p>
      <strong>Valor pago:</strong>
      <%= payment.paid_amount %>
      </p>
    </fieldset>
  <% end %>

  <p>
    <strong>Relativo à compra:</strong>
    <%= payment.purchase_id %>
  </p>

</div>
