<nav class="breadcrumb">
  <%= link_to '← Galeria', galleries_path %>
</nav>

<div class="photo-detail">
  <article class="photo">
    <h1><%= @photo.title %></h1>
    <% if @photo.file.attached? %>
      <div class="photo-full">
        <picture>
          <source media="(min-width: 1200px)" srcset="<%= @photo.file %>">
          <source media="(min-width: 800px)" srcset="<%= @photo.medium_url %>">
          <img src="<%= @photo.medium_url %>" alt="<%= @photo.title %>" loading="lazy">
        </picture>
      </div>
    <% else %>
      <div class="empty-state">
        <p>Imagem não disponível</p>
      </div>
    <% end %>
  </article>

  <nav class="photo-nav">
    <div>
      <% if @photo.previous %>
        <%= link_to '← Anterior', @photo.previous, class: 'btn btn-secondary' %>
      <% end %>
    </div>

    <div class="photo-tags">
      <%= turbo_frame_tag "taggeds" do %>
        <%= render @photo.tags %>
        <%= form_with model: [TaggedPhoto.new], data: { turbo_frame: "tags" } do |form| %>
          <div class="tag-input">
            <%= text_field_tag :tag_name, nil, list: 'tags_names', placeholder: 'Adicionar tag' %>
            <%= form.hidden_field :photo_id, value: @photo.id %>
            <%= form.submit '+', class: 'btn-tag' %>
          </div>
        <% end %>

        <%= content_tag(:datalist, nil, id: 'tags_names') do %>
          <% @existing_tags.each do |tag| %>
            <%= content_tag(:option, nil, value: tag) %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div>
      <% if @photo.next %>
        <%= link_to 'Próxima →', @photo.next, class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </nav>
</div>
