<%
  card_class = action_name == 'index' ? 'card' : ''
%>
<div id="<%= dom_id card %>" class="<%= 'card_class' %>">
  <dl>
    <dt>Bandeira</dt><dd><%= card.brand %></dd>
    <dt>Número</dt><dd><%= card.number %></dd>
    <dt>Nome</dt><dd><%= card.name %></dd>
    <dt>Validade</dt><dd><%= card.expiry_year %>-<%= card.expiry_month %></dd>
    <dt>Vencimento</dt><dd><%= card.due_day %></dd>
    <dt>Melhor dia de compras</dt><dd><%= card.invoice_day ? card.invoice_day + 1 : 'não informado' %></dd>
  </dl>

  <% if action_name == 'index' %>
    <div class="actions">
      <%= link_to "Ver detalhes", card_path(id: card.id) %>
      <%= button_to "Pagar", action: "pay", id: card.id, remote: true %>
    </div>
  <% end %>
</div>
