<div id="<%= dom_id medication_product %>">
  <p>
    <strong>Name:</strong>
    <%= medication_product.name %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= medication_product.brand %>
  </p>

  <p>
    <strong>Form:</strong>
    <%= medication_product.form %>
  </p>

  <p>
    <strong>Per:</strong>
    <%= medication_product.per %>
  </p>

  <p>
    <strong>Per unit unit:</strong>
    <%= medication_product.per_unit_unit %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= medication_product.picture %>
  </p>

  <p>
    <strong>Medication:</strong>
    <%= medication_product.medication_id %>
  </p>

</div>
