<div id="<%= dom_id pharmacotherapy %>">
  <p>
    <strong>Treatment:</strong>
    <%= pharmacotherapy.treatment_id %>
  </p>

  <p>
    <strong>Medication:</strong>
    <%= pharmacotherapy.medication_id %>
  </p>

  <p>
    <strong>Frequency value:</strong>
    <%= pharmacotherapy.frequency_value %>
  </p>

  <p>
    <strong>Frequency unit:</strong>
    <%= pharmacotherapy.frequency_unit %>
  </p>

  <p>
    <strong>Dosage value:</strong>
    <%= pharmacotherapy.dosage_value %>
  </p>

  <p>
    <strong>Dosage unit:</strong>
    <%= pharmacotherapy.dosage_unit %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= pharmacotherapy.duration %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= pharmacotherapy.end_date %>
  </p>

</div>
