<!DOCTYPE html>
<html>
  <head>
    <title>Docelar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="notice"><%= notice %></div>
    <header>
      <h1><a href="/">Doce Lar</a></h1>
      <%= render 'main_menu' %>
      <div id="user-status">
        <% if current_user %>
          <%= current_user.email %>
          <%= link_to 'Sair', logout_path %>
        <% else %>
          <%= link_to 'Entrar', login_path %>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <%= render partial: "flash_message" %>
    <%= Rails.env.development? && console %>
  </body>
</html>
