<!DOCTYPE html>
<html>
  <head>
    <title>Docelar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1><a href="/">Doce Lar</a></h1>
      <nav>
        <ul>
          <li><%= link_to 'Produtos', :products %></li>
          <li><%= link_to 'Compras', :purchases %></li>
          <li><%= link_to 'Relatório de Gastos', :payments %></li>
          <li><%= link_to 'Galeria', :galleries %></li>
          <li><%= link_to 'Tarefas', :tasks %></li>
        </ul>
      <div id="user-status">
        <% if current_user %>
          <%= current_user.email %>
          <%= link_to 'Sair', logout_path %>
        <% else %>
          <%= link_to 'Entrar', login_path %>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
  </body>
</html>
